---
layout: default
titleAfter: Stellar Seo After
meta: random index page meta
---


<h1>Kalden portfolio (index.html)</h1>
<p>dude hello (index.html)</p>


<h2>order using _data</h2>
<ol>
    {% for order in site.data.data-order %}
        <li>
            <a href="{{site.baseurl}}/planetss/{{order.folder}}/">{{order.title}}</a>
            {{order.content | markdownify}}
        </li>
    {% endfor %}

</ol>




<h2>order test Hack</h2>
<ol>
    {% for order in site.categories.planet-type %}
        <li>
            <a href="{{site.baseurl}}/planetss/{{order.folder}}/">{{order.title}}</a>
            {{order.content}}
        </li>
    {% endfor %}


</ol>


