<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/current.css">

</head>


<body>



    <header>
        <h1>Planets of the Universe</h1>
        {% include nav.html navclass='nav-top' %}
    </header>

    {{content}}

    <footer>

        {% include nav.html navclass='nav-bottom' %}
        
    </footer>


</body>
</html>